
.DS_Store
*/.DS_Store
*.swp
*~.nib

build/

*.pbxuser
*.perspective
*.perspectivev3

*.mode1v3
*.mode2v3

ShoutApp/Pods/Pods.xcodeproj/xcuserdata/colemccracken.xcuserdatad/xcschemes/Pods-ShoutApp-UIAlertView+Blocks.xcscheme
ShoutApp/Pods/Pods.xcodeproj/xcuserdata/colemccracken.xcuserdatad/xcschemes/Pods-ShoutApp-AFNetworking.xcscheme
ShoutApp/Pods/Pods.xcodeproj/xcuserdata/colemccracken.xcuserdatad/xcschemes/Pods-ShoutApp.xcscheme
ShoutApp/Pods/Pods.xcodeproj/xcuserdata/colemccracken.xcuserdatad/xcschemes/xcschememanagement.plist
ShoutApp/ShoutApp.xcworkspace/xcuserdata/colemccracken.xcuserdatad/UserInterfaceState.xcuserstate

Documentation/Generated
doxygenWarnings.txt
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
*/*.xcodeproj/xcuserdata/*.xcuserdatad
*/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
ShoutApp/ShoutApp.xcworkspace/xcuserdata/JGriggs.xcuserdatad/UserInterfaceState.xcuserstate
