<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cam sucks</key>
	<string>Cameron Porter licks balls</string>
	<key>Cole sucks</key>
	<string>Cole McCracken does too</string>
	<key>Grasso...definitely sucks</key>
	<string>Grasso double fists</string>
	<key>Julian = #boss</key>
	<string>Nuff said</string>
	<key>I love you guys</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 2</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 3</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 4</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 5</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 6</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 7</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 8</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 9</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 10</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 11</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 12</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 13</key>
	<string>But really, I do &lt;3</string>
	<key>I love you guys - 14</key>
	<string>But really, I do &lt;3</string>
</dict>
</plist>
